<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/splashscreen.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <div>
        <div>
            <a th:href="@{/students}">Liste des étudiants</a>
            <a th:href="@{/registration}">Inscription</a>
        </div>
        <div>


        <form action="#" th:action="@{/search}" th:object="${student}" method="get" >
            <label for="search" class="form-label">Rechercher par nom :</label>
            <input type="text" id="search" placeholder="dupont" th:field="*{lastName}" >
            <button type="submit">Rerchercher</button>
        </form>
        </div>
    </div>
</header>

<main>
    <div>
        <img th:src="@{/img/homepage.jpg}" alt="picture" />
    </div>
</main>


</body>
</html>