<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RecetteQD</title>
</head>
<body>

<h1>Application recette ! <span th:text="${nbRecipes}" ></span> recettes enregistrées</h1>

<h2>Rechercher une recette</h2>

<form th:action="@{/recipes/search}" method="get" >
    <div>
        <label for="search" >Recherche : </label>
        <input id="search" name="search" />
    </div>

    <button type="submit" >Rechercher</button>

</form>


<h2>Ajouter une recette</h2>

<form th:action="@{/recipes/add}" th:object="${recipeDto}" method="post" >
    <div>
        <label for="name" >Nom</label>
        <input type="text" id="name" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span>
    </div>
    <div>
        <label for="ingredient" >liste des ingrédients (séparés par un ';')</label>
        <textarea id="ingredient"  th:field="*{ingredients}" rows="5" cols="33" ></textarea>
        <span th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}" ></span>
    </div>

    <div>
        <label for="instruction" >liste des instructions</label>
        <textarea id="instruction"  th:field="*{instructions}" rows="5" cols="33" ></textarea>
        <span th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}" ></span>
    </div>


    <button type="submit" >Envoyer</button>

</form>


</body>
</html>