header {
    background-color: lawngreen;
    width: 80%;
    margin: auto;

    & div {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        border-radius : 12px;
    }



}