<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page B</title>
    <span th:replace="~{home :: bootstrapimport}"></span>
</head>
<body>
<header>
    <h2>Ma page B</h2>
    <span th:replace="~{home :: navbar}"></span>
</header>
<main>
<!--    <div>-->
<!--        <a th:href="@{/demo/details/{id}(id=${lapin.getId()})}"> détails <span th:text="${lapin.getName()}" ></span> </a>-->
<!--    </div>-->

    <div th:each="l:${lapins}" >
        <a th:href="@{/demo/details/{id}(id=${l.getId()})}"> détails <span th:text="${l.getName()}"></span> </a>
    </div>



</main>

</body>
</html>