<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page B</title>
    <span th:replace="~{home :: bootstrapimport}"></span>
</head>
<body>
<header>
    <span th:replace="~{home :: navbar}"></span>
</header>
<main>
<!--    <div>-->
<!--        <a th:href="@{/demo/details/{id}(id=${lapin.getId()})}"> détails <span th:text="${lapin.getName()}" ></span> </a>-->
<!--    </div>-->
<div class="container">
<ul class="list-group list-group-flush">

    <li class="list-group-item" th:each="l:${lapins}" >
        <a th:href="@{/demo/details/{id}(id=${l.getId()})}"> détails <span th:text="${l.getName()}"></span> </a>
    </li>

</ul>
</div>


</main>

</body>
</html>