<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <span th:replace="~{index :: css }" ></span>
</head>
<body>
    <span th:replace="~{index :: tete}"></span>
    <main>
        <form action="#" method="post" th:action="@{/registration}" th:object="${student}" >
            <label for="last" >Nom</label>
            <input type="text" id="last" th:field="*{lastName}" />
            <label for="first" >Prénom</label>
            <input type="text" id="first" th:field="*{firstName}" />
            <label for="birth" >Date de naissance</label>
            <input type="date" id="birth" th:field="*{birthday}" />
            <label for="mail" >Couriel</label>
            <input type="text" id="mail" th:field="*{mail}" />
            <button type="submit">Inscrire</button>
        </form>
    </main>
    <footer>
        <a th:href="@{/}">Retour à l'accueil</a>
    </footer>
</body>
</html>