<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Etudiant</title>
    <span th:replace="~{index :: css }" ></span>
</head>
<body>
    <span th:replace="~{index :: tete}"></span>
    <main>


<table>
    <caption>Liste des étudiants inscrits</caption>
    <thead>
    <tr>
        <th>nom</th>
        <th>prénom</th>
        <th>date de naissance</th>
        <th>courriel</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${student.getLastName()}"></span></td>
        <td><span th:text="${student.getFirstName()}"></span></td>
        <td><span th:text="${student.getBirthday()}"></span></td>
        <td><span th:text="${student.getMail()}"></span></td>
    </tr>
    </tbody>

</table>

    </main>


<a th:href="@{/}">Retour à l'accueil</a>

</body>
</html>