<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <span th:replace="~{index :: blogcss }" ></span>
</head>
<body>
<span th:replace="~{index :: blogheader }" ></span>
<main>
    <div class="container">
        <h1 th:text="${post.title}"></h1>
        <h2 th:text="${post.description}"></h2>

        <p  th:text="${post.article}"></p>

        <h3>publié le : <span th:text="${post.date}"></span></h3>

        <p th:if="${isAdminConnected}"> <a th:href="@{/remove/{id}(id =${post.id})}" >Supprimer l'article</a> </p>
    </div>

    <div class="container" th:unless="${comments.isEmpty()}"  >

        <div th:each="com : ${comments}" >
            <h2>Commentaire de: <span th:text="${com.auteur}"></span>  </h2>
            <p th:text="${com.message}" ></p>

            <p>Le <span th:text="${com.date}"></span>, contact <span th:text="${com.email}"></span> </p>
        </div>


    </div>

    <div class="container">
        <h2>Laisse un commentaire</h2>

        <form th:action="@{/comment/{postId}(postId=${post.id})}" th:object="${newCommentary}" method="post" >
            <div>
                <label for="nom" >Nom</label>
                <input type="text" id="nom"  th:field="*{auteur}" />
<!--                <span th:if="${#fields.hasErrors('auteur')}" th:errors="*{auteur}" ></span>-->
            </div>
            <div>
                <label for="mail" >Email</label>
                <input type="text" id="mail"  th:field="*{email}" />
<!--                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>-->
            </div>
            <div>
                <label for="comment" >Commentaire</label>
                <textarea id="comment"  th:field="*{message}" rows="11" >J'aime beaucoup le...</textarea>
<!--                <span th:if="${#fields.hasErrors('description')}" th:errors="*{message}" ></span>-->
            </div>

            <button type="submit" >Commenter</button>


        </form>

    </div>



</main>
<span th:replace="~{index :: blogfooter }" ></span>
</body>
</html>