<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <span th:replace="~{index :: blogcss }" ></span>
</head>
<body>
<span th:replace="~{index :: blogheader }" ></span>
<main>
<h1>nouvelle publication</h1>
    <form th:action="@{/post}" th:object="${newpost}" method="post" >
        <div>
            <label for="last" >Title</label>
            <input type="text" id="last" th:field="*{title}" />
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></span>
        </div>
        <div>
            <label for="desc" >Description</label>
            <input type="text" id="desc"  th:field="*{description}" />
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" ></span>
        </div>
        <div>
            <label for="article" >Message</label>
            <textarea id="article"  th:field="*{article}" rows="11" ></textarea>
            <span th:if="${#fields.hasErrors('article')}" th:errors="*{article}" ></span>
        </div>

        <button type="submit" >Envoyer</button>

    </form>

</main>

<span th:replace="~{index :: blogfooter }" ></span>
</body>
</html>